@page "/employees"

<div class="container">
    <div class="form-container">
        <h2>Employees</h2>
        <EditForm Model="employee" OnValidSubmit="Add">
            <div class="form-group">
                <label>First Name:</label>
                <input type="text" required @bind="employee.FirstName">
            </div>
            <div class="form-group">
                <label>Last Name:</label>
                <input type="text" required @bind="employee.LastName">
            </div>
            <div class="form-group">
                @if (invalidPhone)
                {
                    <label>Phone (XXX-XXX-XXXX): Phone Number is Already Registered</label>
                }
                else
                {
                    <label>Phone (XXX-XXX-XXXX):</label>
                }
                <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required @bind="employee.Phone">
            </div>
            <div class="form-group">
                @if (invalidEmail)
                {
                    <label>Email: Email is Already Registered</label>
                }
                else
                {
                    <label>Email:</label>
                }
                <input type="email" required @bind="employee.Email">
            </div>
            <input type="submit" value="Add Employee">
        </EditForm>
    </div>

    <div class="data-display">
        <h2>Display</h2>
        <div class="data-item">
            <span class="data-label">Employee ID: </span> @currentEmployee.EmployeeId
        </div>
        <div class="data-item">
            <span class="data-label">First Name: </span> @currentEmployee.FirstName
        </div>
        <div class="data-item">
            <span class="data-label">Last Name: </span> @currentEmployee.LastName
        </div>
        <div class="data-item">
            <span class="data-label">Phone: </span> @currentEmployee.Phone
        </div>
        <div class="data-item">
            <span class="data-label">Email: </span> @currentEmployee.Email
        </div>
        <div class="data-item">
            <select @onchange="Select">
                <option value="0">Select Employee</option>
                @foreach (var employee in employees)
                {
                    <option value="@employee.EmployeeId">@employee.LastName, @employee.FirstName</option>
                }
            </select>
        </div>
    </div>
</div>
<table>
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in employees)
        {
            <tr>
                <td>@employee.EmployeeId</td>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.Phone</td>
                <td>@employee.Email</td>
                <td><button @onclick="() => Remove(employee)">Remove</button></td>
            </tr>
        }
    </tbody>
</table>
